body{
    background-image:url("images/loginbackground.jpg");
    background-size: cover;
}
.navigation{
    list-style: none;
}
.navigation{
    width:101.4%;
    height: 50px;
    margin-left:-20px;
    margin-top: -10px;
    background-color:black;
    border: 1px solid grey;
    display: inline-block;
}
.navigation .top-nav{
    margin-left:430px ;
    margin-top:10px;
}
.navigation .top-nav .nav-list{
    width: 150px;
    margin-top: 5px;
    display: inline-block;
}
.navigation .top-nav .nav-list a,a:active{
    color: white;
    font-size: 20px;
    font-family: 黑体;
    text-decoration: none;
}
.navigation .top-nav .nav-list a:hover{
    color: dodgerblue;
}
.main-area{
    width: 400px;
    height: 200px;
    background-color: white;
    margin-top: 350px;
    margin-left: 750px;
    border-radius: 30px;
}
.main-area .title-area{
    width: 150px;
    height:66px;
    /*border-radius: 30px;*/
    /*background-color: lightblue;*/
}
.main-area .title-area .title-son-area{
    margin: 0px;
    width: 400px;
    height: 66px;
    border-radius:30px 30px 0px 0px;
    background-color:lightblue;
}
.main-area .title-area .title-son-area p{
    font-size: 30px;
    font-family: 微软雅黑;
    color: black;
    margin-left: 140px;
    margin-top: 0;
}
.main-area .psd-change-area{
    width: 400px;
    height: 66px;
    margin: 0;
    background-color:white;
}
.main-area .psd-change-area .psw-son-area{
    margin-left: 58px;
    width: 350px;
    margin-top: 0;
}
.main-area .psd-change-area .psw-son-area i,span{
    font-size:23px;
    margin-top: 17px;
}
.main-area .psd-change-area .psw-son-area input{
    height: 20px;
}
.main-area .button-area{
    width: 100px;
    height: 66px;
}
.main-area .button-area .button-son-area{
    width: 400px;
    height:70px;
    border-radius: 0px 0px 30px 30px;
    background-color: antiquewhite;
    margin-left: 0;
}
.main-area .button-area .button-son-area input{
    width: 70px;
    height: 30px;
    margin-left: 160px;
    margin-top: 20px;
}